.nav-underline {
  position: relative;
  display: inline-block;
}

.nav-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #0d6efd; /* Bootstrap primary */
  transition: width 0.3s ease;
}

.nav-underline:hover::after {
  width: 100%;
}


/* intro section */


